<h1>This is the home page for showing a restaurant</h1>

<h2><%= @restaurant.name %></h2>

<h2>Comments</h2>

<%= react_component('CommentSection', comments: raw(render(template: 'comments/index.json.jbuilder' ))) %>